<h1>List of recipes for <%= @food.name %></h1>
<% @recipes.each do |recipe| %>
  <p><%= recipe.title %><%= link_to '+', food_recipe_path(@food, recipe) %></p>
  <%= link_to 'Back', foods_path %>
<% end %>

