<div class="container w-50">
  <h1><%= @recipe.title %></h1>
  <div class="text-center">
    <% @recipe.rating.to_i.times do %>
      <i class="fas fa-star mb-4"></i>
    <% end %>
  </div>

  <h3>Description:</h3>
  <br>
  <p><%= @recipe.description %></p>
  <%= link_to 'Back', food_recipes_path, class: "btn btn-outline-green mt-4" %>
</div>
