<h1>My Account</h1>
<%= @user.email %>
<% @current_user.goals.each do |goal| %>
    <h1> <%= goal.title %> </h1>
<% end %>
<br>
<%= link_to "Update My Goals", new_user_goal_path, class:"btn btn-dark" %>