.btn-outline-green {
  color: $dark-green;
  border: 1px solid $dark-green;
  border-radius: 3px;
  padding: 8px 16px;
  transition: 0.3s ease;
}

.btn-outline-green:hover {
  color: white;
  background-color: $dark-green;
  text-decoration: none;
}

.btn-green {
  color: white;
  background-color: $dark-green;
  border-radius: 3px;
  padding: 8px 16px;
  transition: 0.3s ease;
}

.btn-green:hover {
  color: $dark-green;
  border: 1px solid $dark-green;
  background-color: white;
  text-decoration: none;
}

.btn-green-small {
  color: white;
  background-color: $dark-green;
  border-radius: 3px;
  padding: 8px 16px;
  transition: 0.3s ease;
  opacity: 0.7;
}

.btn-green-small:hover {
  color: $dark-green;
  border: 1px solid $dark-green;
  background-color: white;
  text-decoration: none;
  opacity: 0.7;
}

.show-more {
  opacity: 0.7;
  border-radius: 3px;
  font-weight: lighter;
}

.arrow-button {
  font-size: 2.3rem;
  line-height: 1.3;
  margin: 0;
  padding: 16px;
  text-align: center;
  color: $dark-green;
  opacity: 0.5;
  height: 100%;
}

.arrow-button:hover {
  text-decoration: none !important;
  opacity: 1;
  color: $dark-green;
}
