.small-card {
  background-color: $cream-white;
  border: none;
  width: 200px;
}

.small-card img {
  margin: auto;
  margin-top: 16px;
  width: 180px;
  height: 180px;
}

.small-card h3 {
  margin: auto;
  margin-top: 16px;
  font-size: 24px;
  color: $dark-green;
}

.small-card p {
  margin: auto;
  margin-top: 8px;
  max-width: 250px;
  font-size: 16px;
  opacity: 0.7;
  text-align: center;
}

.big-card {
  background-color: white;
  text-align: center;
  justify-content: center;
}

.big-card img {
  height: 300px;
  width: 500px;
  border-radius: 3px;
}

.big-card p {
  max-width: 500px;
  margin: 24px auto;
  opacity: 0.8;
}

.card-recipe {
  background-color: rgba(169, 241, 161, 0.575);
  padding: 0px;
  width: 350px;
  box-shadow: 0px 0px 0px grey;
  -webkit-transition:  box-shadow .6s ease-out;
  box-shadow: .8px .9px 3px grey;
}

.card-recipe:hover {
   box-shadow: 1px 8px 20px grey;
  -webkit-transition:  box-shadow .3s ease-in;
  cursor: pointer;
}

.card-img-top {
  height: 120px;
  width: 100%;
}

.card-deck {
  display: flex;
  justify-content: center;
}
