.small-card {
  text-align: center;
  padding: 0;
}

.small-card img {
  margin-top: 16px;
  width: 160px;
  height: 160px;
}

.small-card h3 {
  margin-top: 16px;
  font-size: 24px;
  color: $dark-green;
}

.small-card p {
  margin: auto;
  margin-top: 8px;
  opacity: 0.7;
  max-width: 220px;
}

.big-card {
  background-color: white;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.big-card img {
  height: 100%;
  width: 100%;
}

.big-card p {
  margin: 16px auto;
  max-width: 500px;
  opacity: 0.8;
}

.card-recipe {
  background-color: $light-green;
  width: 320px;
  min-height: 320px;
  margin: 24px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
  -webkit-transition: box-shadow .3s ease-out;
  border: none;
  align-items: center;
}

.card-recipe:hover {
  box-shadow: 0px 4px 16px rgba(0,0,0,0.4);
  -webkit-transition: box-shadow .3s ease-in;
  cursor: pointer;
}

.card-recipe img {
  min-height: 200px;
  width: 100%;
  object-fit: cover;
  background-position: center;
}
