.small-card {
  background-color: $cream-white;
  border: none;
  width: 200px;
}

.small-card img {
  margin: auto;
  margin-top: 16px;
  width: 180px;
  height: 180px;
}

.small-card h3 {
  margin: auto;
  margin-top: 16px;
  font-size: 24px;
}

.small-card p {
  margin: auto;
  margin-top: 8px;
  max-width: 250px;
  font-size: 16px;
  opacity: 0.7;
}

.big-card {
  background-color: white;
  text-align: center;
  justify-content: center;
}

.big-card img {
  height: 300px;
  width: 500px;
  border-radius: 3px;
}

.big-card h2 {
  color: $green;
}

.big-card p {
  max-width: 500px;
  margin: auto;
  opacity: 0.8;
}

.card-recipe{
  padding: 0px;
}
.card-img-top{
  height: 120px;
  width: 100%;
}


