.clickable {
  padding: 40px;
  width: 180px;
  border: 1px solid #dedede;
  color: #a0a0a0;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
}

.clickable:hover {
  color: $dark-green;
}

.active {
  color: inherit;
  border-color: inherit;
}

.check-style {
  visibility: hidden;
}
