.recipe-index-container {
  align-items: center;
  justify-content: center;
  color: $dark-dark;
  border-radius: 3px;
  max-width: 300px;
  min-width: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
  background: white;
  overflow: hidden;
}
.recipe-index-container img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}
.card-info h5 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-info p {
  font-size: 12px;
  opacity: .7;
  padding-top: 10px;
}