<h1>My saved recipes!</h1>
<% @favorite_recipes.each do |favorite| %>
  <h1><%= favorite.recipe.title %></h1>
  
   <p><%= link_to "Delete", favorite_recipes_path, method: :delete %>  <%= link_to "Show",  food_recipe_path(:food_id, @recipe,) %></p>
 <% end %>

 <div class="plain-text-button">
  <p><%= link_to "< Back",  favorite_recipes_path %></p>
</div>
