<h1>Goals</h1>
<div class="container">
  <form action="/user_goals" method="post">
    <% counter=0 %>
    <div class="text-center my-5">
    <ul class="row justify-content-center" style="max-width: 700px; margin: auto">
      <% @goals.each do |goal| %>
        <li class="clickable">
          <input class="check-style" type="checkbox" name=array[<%= counter %>] >
          <label for=<%= goal.title %>> <%= goal.title %> </label>
          <% counter+=1 %>
        </li>
      <% end %>
    </ul>
    <input type="submit" value="Submit" class="btn btn-green m-3">
    </div>
  </form>
</div>
