<h1>What are your goals?</h1>
<div class="container">
  <p class="header-description">Select the areas you would like to focus on. <br> Remember... the narrower your focus, the more effective.<br> When you see positive change towards your goal, you will notice a ripple effect in other areas of your health too. So don't underestimate the power of starting small!</p>
  <form action="/user_goals" method="post">
    <% counter=0 %>
    <div class="text-center my-5">
    <ul class="row justify-content-center" style="max-width: 800px; margin: auto">
      <% @goals.each do |goal| %>
        <li class="clickable">
          <input class="check-style" type="checkbox" name=array[<%= counter %>] >
          <label class="m-0" for=<%= goal.title %>> <%= goal.title %> </label>
          <% counter+=1 %>
        </li>
      <% end %>
    </ul>
    <input type="submit" value="Submit" class="btn btn-green m-3" disabled>
    </div>
  </form>
</div>
